<template>
    <div class="container" style="margin-top: 20px;margin-bottom: 20px">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1 frame" style="overflow: hidden">
                <ul class="messages_box" id="messages_box">
                    <li v-for="message in messages"  style="width:100%">
                        <div v-if="message.is_admin" class="msj-rta macro">
                            <div class="text text-r">
                                <p> {{message.message}}</p>
                            </div>
                            <div class="avatar" style="padding:0 0 0 10px !important">
                                <img class="img-circle" style="width:100%;" src="http://api.zazap.ru/assets/img/no_photo.jpg">
                            </div>
                        </div>
                        <div v-else=""  class="msj macro">
                            <div class="avatar">
                                <img class="img-circle" style="width:100%;" :src="user.photo"></div><div class="text text-l">
                            <p> {{message.message}}</p>
                             </div>
                        </div>
                    </li>
                </ul>
                <div>
                    <div class="msj-rta macro msj-input">
                        <div class="text text-r" style="background:whitesmoke !important">
                            <input class="mytext"  v-model="textMessage" @keyup.enter="sendMessages" placeholder="Type a message"/>
                        </div>

                    </div>
                    <div style="padding:10px;">
                        <span @click="sendMessages" class="glyphicon glyphicon-share-alt send_button"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:[
            'question_id',
            'user',
            'startmessages'
        ],
        data(){
            return {
                messages:[],
                textMessage:""
            }
        },
        mounted() {
            var messages = this.messages;
            this.startmessages.forEach(function (item, i, arr) {
                messages.push(item);
            });
            var element = document.getElementById("messages_box");
            setTimeout(function(){element.scrollTop = element.scrollHeight}, 200);
            window.Echo.private('question.'+this.question_id).listen('Newprivatechat',({data})=>{
                this.messages.push(data);
                var element = document.getElementById("messages_box");
                setTimeout(function(){element.scrollTop = element.scrollHeight}, 200);
            });
        },
        methods:{
            sendMessages(){
                if(this.textMessage !== ''){
                    this.messages.push({message:this.textMessage, is_admin: 1});
                    axios.post('/sendmessage',{message:this.textMessage,question_id:this.question_id});
                    this.textMessage = '';
                    var element = document.getElementById("messages_box");
                    setTimeout(function(){element.scrollTop = element.scrollHeight}, 200);
                }else{
                    alert("Введите сообщение!");
                }

            }
        }
    }
</script>
