
.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 20px;font-size: 16px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:black;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj-input{
    border: 1px solid gray;
}
.msj{
    float:left;background:whitesmoke;
}
.frame{
    background:#ffffff;
    height:600px;
    overflow-y:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}
.send_button{
    background: whitesmoke;padding: 10px;font-size: 21px;border-radius: 50%;
     border: 1px solid gray;
}
.msj-rta.macro{
    margin-left:1%;
}
.messages_box {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent whitesmoke transparent transparent;
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;
}
input:focus{
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
}
::-moz-placeholder { /* Firefox 19+ */
    color:gray;
}
:-ms-input-placeholder { /* IE 10+ */
    color: gray;
}
:-moz-placeholder { /* Firefox 18- */
    color: gray;
}
