$OpsB: OpenSansBold;
$OpsL: OpenSansLight;
$OpsR: OpenSansRegular;

h2 {
	font-family: $OpsB;
	font-size: 24px;
	text-transform: uppercase;
}


a, button {
	transition: all 0.5s ease;
}
*:focus {
	outline: none !important;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: $OpsR;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
}
.hidden {
	display: none;
}



section {
	height: 100vh;
}


.wrap {
	max-width: 1025px;
	margin: 0 auto;
	margin-left: 0 !important;
	padding: 0 15px;
}
.main {
	margin-top: 3em;

}
.news {
	background-color: #9b59b6;
}
.contacts {
	background-color: #3498db;
}
.portfolio {
	background-color: #f1c40f;
}
.wrapper {
	position: relative;
	overflow-x: hidden;
}
.menu {
	flex-direction: column;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 13%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0199dc;
	transition: 0.5s;
	transform: translateX(-100%);
}
.menu_active {
	transform: translateX(0%);
}
.menu-list {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80%;
	flex-direction: column;
	li {
		background-image: url(../img/menu_1.png);
		background-repeat: no-repeat;
		list-style-type: none;
		background-position: center 10px;
		margin: 5px 0;
		padding: 40px 22px 5px;
		border-left: 10px solid transparent;
		line-height: 1.1;
	}
	li:hover {
		background-color: rgba(255, 255, 255, 0.3);
		width: 100%;
		border-left: 10px solid #004176;
	}
	li:nth-child(2) {
		background-image: url(../img/menu_2.png);
	}
	li:nth-child(3) {
		background-image: url(../img/menu_3.png);
	}
	li:nth-child(4) {
		padding-top: 50px;
		background-image: url(../img/menu_4.png);
	}
	li:nth-child(5) {
		padding-top: 45px;
		background-image: url(../img/menu_5.png);
	}
	li:nth-child(6) {
		padding-top: 45px;
		background-image: url(../img/menu_6.png);
	}
	li:nth-child(7) {
		padding-top: 45px;
		background-image: url(../img/menu_7.png);
	}
	li:nth-child(8) {
		padding-top: 45px;
		background-image: url(../img/menu_8.png);
	}
}
.menu-list a {
	text-transform: uppercase;
	font-size: 14px;
	font-family: $OpsR;
	color: #fff;
}
.menu-btn {
    width: 35px;
    height: 30px;
    background-color: #0199dc;
    position: absolute;
    right: -35px;
    top: 0;
    img {
    	margin: auto;
    }
}
.content {
	transition: 0.5s;
	position: relative;
	z-index: 0;
}
.content_active {
	transform: translateX(13%);
}

.user_profile {
	width: 100%;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	-ms-flex-align: center;
	align-items: center;
	height: 15%;
	-ms-flex-direction: column;
	flex-direction: column;
	p {
		color: #fff;
		margin-top: 5px;
	}
	a:hover {
		text-decoration: none;
	}
}



nav.dashbord_main {
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	li {
		margin: 10px 10px;
		position: relative;
		text-align: center;
		flex-basis: 30%;
		display: flex;
		justify-content: center;
		width: 250px;
		height: 120px;
		list-style-type: none;
		align-items: center;
		-webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.18);
		-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.47);
		box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
	}
	h2 {
		font-family: $OpsB;
		font-size: 18px;
		text-transform: none;
		margin-bottom: 0;
		position: absolute;
		top: 14px;
		left: 0;
		right: 0;
		padding: 0 20px;
	}
	h3 {
		margin-top: 60px;
		font-size: 50px;
		color: #004176;
	}
	a {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		font-family: $OpsB;
		color: #000;
		font-size: 18px;
	}
	a:hover {
		opacity: 0.5;
		text-decoration: none;
		transition: none;
	}
	img {
		padding-right: 12px;
	}
}


.tag_strelka {
	margin-top: 20px;
	padding: 7px 15px;
	text-transform: uppercase;
	color: #666;
	font-size: 16px;
	position: relative;
	background: transparent;
	border-left: 1px solid #666;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
    width: max-content;
}
.tag_strelka:after, .tag_strelka:before {
	left: 99%;
	top: 94%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tag_strelka:after {
    border-color: transparent transparent transparent #fff;
    border-width: 16px;
    margin-top: -30px;
}
.tag_strelka:before {
	border-color: transparent transparent transparent #c1c1c1;
	border-width: 18px;
	margin-top: -32px;
	left: 100%;
}


/* .tag_strelka {
	margin-top: 15px;
	margin-bottom: 1em;
	font-size: 14px;
	text-transform: uppercase;
	color: #666;
	border: 1px solid #666;
	width: max-content;
	padding: 5px 20px;
	border-radius: 5px;
} */

/* 
.tag_strelka {
	padding: 6px 20px;
	color: #666;
	width: max-content;
	font-family: $OpsB;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	border: 2px solid #d8d8d8;
}
.tag_strelka:after, .tag_strelka:before {
	left: 100%;
	top: 97%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tag_strelka:after {
	border-color: transparent transparent transparent #fff;
	border-left-color: #fff;
	border-width: 18px;
	margin-top: -32px;
	margin-left: -1px;
}
.tag_strelka:before {
	border-color: #fff;
	border-left-color: #d8d8d8;
	border-width: 20px;
	margin-top: -34px;
} */

.table {
	margin-top: 3em;
}
.wait_c {
	color: #be9234;
	text-transform: uppercase;
}
th {
    text-transform: uppercase;
}
tr.column_table:hover {
    background-color: rgba(1, 153, 220, 0.16);
}
td {
	font-size: 14px;
}
.one_td_answer {
	background-color: #15bd15;
	h2 {
		font-size: 16px;
	}
}
td.answer_block {
	opacity: 0;
	position: relative;
	background-color: #15bd15;
}
tr.column_table:hover .answer_block {
	display: block;
	opacity: 1;
}

td.answer_block a {
	font-family: $OpsB;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
}
td.answer_block a:hover {
	text-decoration: none;
}

td.answer_close {
	background-color: red;
}

td.answer_close {
	opacity: 0;
	background-color: #95bd15;
}

tr.column_table:hover .answer_close {
	display: table-cell;
	opacity: 1;
	background-color: #ff3b30;
	color: #fff;
}
td.answer_close a {
    color: #fff;
    font-family: $OpsB;
    font-size: 16px;
}

nav.pagination {
	margin-top: 2em;
	li {
		margin-right: 10px;
	}
	a {
		font-family: $OpsB;
		color: #333;
		padding: 2px 12px;
		border: 1px solid #006f9f;
	}
	a:hover {
		background-color: #004176;
		color: #fff;
	}
	a.active {
		background-color: #004176;
		color: #fff;
	}
}

.this_yii {
	margin-top: 1em;
	display: flex;
	justify-content: space-between;
	.btn-primary {
		background-color: #004176;
		border: 1px solid transparent;
		border-radius: 0;
		text-transform: uppercase;
		font-size: 14px;
		padding: 13px 14px;
	}
	.btn-primary:hover {
		background-color: #0062cc;
		border-color: #005cbf;
	}
}
.two_yi {
	display: flex;
	li {
		list-style-type: none;
	}
	a {
		font-family: $OpsB;
		padding: 10px 25px;
		color: #000;
		background-color: #e4f4fb;
		font-size: 18px;
		text-transform: uppercase;
	}
	a:hover {
		text-decoration: none;
		background-color: #004176;
		color: #fff;
	}
	a.active {
		background-color: #004176;
		color: #fff;
	}
}

.table_all_spisok {
	th {
		font-size: 11px;
	}
	td {
		font-size: 12px;
	}
	td.answer_block a, td.answer_close a {
		font-size: 11px;
	}
	.one_td_answer, td.answer_block {
		background-color: #004176;
	}


}



.filter_spisok {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.user_spisok {
		a {
			color: #000;
			border: 1px solid #666;
			border-radius: 50%;
			padding: 5px;
		}
		p {
			margin: 0;
		}
	}
	a {
		border-radius: 0;
		text-transform: uppercase;
	}
}


p.close_filter_s {
	margin: 0;
	display: flex;
	button.close {
		margin-left: 8px;
	}
}

.form_spisok {
	label {
		font-family: $OpsB;
		text-transform: uppercase;
		font-size: 15px;
	}
	span.input-group-text {
		font-size: 12px;
	}
}

.pagination_top {
	margin-top: 1em;
	display: flex;
	align-items: start;
}


.maps_tables {
	margin-top: 1em;
	display: flex;
	p {
		color: #666;
		font-family: $OpsB;
		font-size: 15px;
		text-transform: uppercase;
		margin: 0;
	}
	h3 {
		font-family: $OpsB;
		color: #000;
		font-size: 15px;
	}
	padding: 15px;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.47);
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);

}
.btn_cart_maps {
	margin-top: 1em;
	.btn-primary {
		font-size: 14px;
		border-radius: 0;
		border: 0;
		text-transform: uppercase;
		background-color: #9a9a9a;
	}
	.btn-primary:hover {
		background-color: #42001a;
	}
	.btn_delete {
		background-color: #e2001a;
	}
	display: flex;
	justify-content: space-between;
}

.tables_maps_user {
	margin-top: 2em;
}

.cartochka_maps {
	flex-basis: 25%;
	img {
		margin-bottom: 10px;
		width: 100%;
	}
	h3 {
		margin-bottom: 15px;
	}
}

.balance {
	margin: auto;
    background-color: #15bd15;
    padding: 10px 20px;
    width: max-content;
    p {
    	color: #fff;
    }
}
.success_c {
	color: green;
	text-transform: uppercase;
}
.warning_c {
	color: red;
	text-transform: uppercase;
}
.yellow_c {
	color: #c99e07;
	text-transform: uppercase;
}
.tables_maps_user {
	th {
		font-family: $OpsB;
		font-size: 14px;
	}
	td {
		font-size: 14px;

	}

	tr.column_table {
		background-color: rgba(1, 153, 220, 0.12);
	}
}
.this_two_sect {
    flex-basis: 70%;
    margin-left: 2em;
}




.tables_metka {
	.one_td_answer, td.answer_block {
		background-color: #004176;
	}
	td {
		font-size: 16px;
	}
}

.tables_seller {
	th {
		font-family: $OpsB;
		font-size: 14px;
	}
	td {
		font-size: 14px;

	}	
}

.sticker_item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}



.this_sticker {
	width: 83%;
	text-align: center;
	-webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.47);
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);

}
.this_sticker img {
	width: 50%;
	padding-top: 20px;
}

.stick_desc {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #ff9500;
	p {
		color: #fff;
		font-size: 14px;
		margin: 0;
	}
	h3 {
		margin-bottom: 0;
		font-family: $OpsB;
		font-size: 16px;
		color: #fff;
	}
}
.colvo {
	padding-top: 10px;
	align-items: center;
	width: 83%;
	display: flex;
	justify-content: space-between;
	p {
		color: #777;
		font-size: 12px;
		margin: 0;
	}
	h4 {
		font-family: $OpsB;
		font-size: 18px;
		margin: 0;
	}
}

.colvo_three img {
    padding-top: 0;
}

.sticker_main {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}
.sticker_item {
    flex-basis: 30%;
}

.sticker_item {
    margin-bottom: 3em;
}

div#multiCollapseExample1 {
    margin-top: 20px;
}


a.btn.btn-primary.filter_link {
	font-family: $OpsB;
    background-color: transparent;
    color: #000;
    border: 0;
    border-top: 8px solid #47bcef;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent;
    background-color: transparent;
    color: #000;
}

a.menu-btn {
    display: none;
}


.content.content_active {
    margin-bottom: 4em;
}
h3.tag_strelka:nth-child(2) {
    margin-left: 20px;
}