/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.wrap {
    max-width: 660px;
}
.sticker_item {
    flex-basis: 49%;
}
.menu-list a, td {
    font-size: 12px;
}
.menu {
	width: 16%;
}
.wrap {
	margin-left: 21px!important;
}

	.animation-device {
		margin-left: -65px;
	}
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.menu {
    width: 35%;
}
.content_active {
    transform: translateX(35%);
}
.wrap {
    max-width: 235px;
}
.wrap {
    margin-left: 5px!important;
}
.sticker_item {
	flex-basis: 100%;
	margin-bottom: 2em;
}
.pagination_top {
	margin-bottom: 2em;
}
.this_yii {
    flex-wrap: wrap;
}
.two_yi {
    margin-top: 1em;
}



}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media (min-width: 769px) and (max-width: 991px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


@media (min-width: 1280px) and (max-width: 1350px) {
	.menu-list {
		width: 100%;
	}
	.wrap {
		max-width: 1080px;
	}
	.sticker_main {
		margin-top: 3em;
		margin-bottom: 3em;
	}
.content.content_active {
    margin-bottom: 4em;
}





}